@import url('https://fonts.googleapis.com/css2?family=Jaldi:wght@700&family=Lato&family=Roboto+Slab&display=swap');

@tailwind base;
@tailwind components; 
@tailwind utilities;

/* POSITIONING */

.x-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

/* Buttons */

.btn-green {
    @apply p-2 ml-2 bg-glas-100 text-white font-semibold leading-none border border-blue-100 rounded hover:border-transparent hover:bg-white hover:text-glas-100;
}

.btn-red {
    @apply p-2 ml-2 bg-rua-100 text-black font-semibold leading-none border border-blue-100 rounded hover:border-transparent hover:bg-white hover:text-rua-100
}

.btn-yellow {
    @apply py-3 px-4 text-lg tracking-wide text-center focus:outline-none focus:ring-2 bg-bui-100 text-black font-semibold leading-none border border-blue-100 hover:border-transparent hover:bg-white rounded-md
}

.btn-red-large {
    @apply py-3 text-lg tracking-wide text-center focus:outline-none focus:ring-2 bg-rua-100 text-black font-semibold leading-none border border-blue-100 rounded hover:border-transparent hover:bg-white hover:text-rua-100
}

.btn-form {
    @apply bg-bui-100 text-black font-heading border border-black hover:border-transparent hover:bg-white focus:ring-rua-100 w-full py-2 text-lg font-bold leading-none tracking-wide text-center rounded-md;
}

/* FORMS */

.form-container {
    @apply flex flex-col p-4 border border-black bg-gradient-to-t from-white to-glas-100 rounded-lg shadow-lg mx-auto w-80;
}

.form-input {
    @apply w-full px-4 py-3 mb-3 font-heading bg-gradient-to-t from-white to-gruama-100 border border-gray-400 rounded-md focus:outline-none focus:ring-1;
}


/* TYPOGRAPHY */

.title {
    @apply py-4 text-6xl tracking-wide text-center font-title lg:text-7xl lg:py-6;
}

/* FLASH COLORS & ICON NAMES */
.comment {
    @apply bg-blue-500;
}
.bird {
    @apply bg-green-500;
}
.thumbs-up {
    @apply bg-blue-500;
}
.like {
    @apply bg-gorm-100;
}
.check-circle {
    @apply bg-green-500;
}
.exclamation {
    @apply bg-rua-100;
}

/* FLASH ANIMATIONS */

.animate-flash {
    animation: animate-flash 3s ease-out forwards;
}

@keyframes animate-flash {
    0% {
        opacity: 1;
    }
    80% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}