@import url('https://fonts.googleapis.com/css2?family=Jaldi:wght@700&family=Lato&family=Roboto+Slab&display=swap');

@tailwind base;
@tailwind components; 
@tailwind utilities;

/* POSITIONING */

.x-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

/* Gallery Views */

.active-view {
    @apply py-2 px-4 text-5xl italic tracking-wide focus:outline-none focus:ring-2 bg-bui-100 text-gorm-100 leading-none border border-blue-100 rounded-md cursor-pointer;
}

/* Buttons */

.btn-green {
    @apply p-2 ml-2 bg-glas-100 text-white font-semibold leading-none border border-blue-100 rounded hover:border-transparent hover:bg-white hover:text-glas-100 cursor-pointer;
}

.btn-red {
    @apply p-2 ml-2 bg-rua-100 text-black font-semibold leading-none border border-blue-100 rounded hover:border-transparent hover:bg-white hover:text-rua-100 cursor-pointer;
}

.btn-yellow {
    @apply py-3 px-4 text-lg tracking-wide text-center focus:outline-none focus:ring-2 bg-bui-100 text-black font-semibold leading-none border-blue-100 hover:border-transparent hover:bg-white rounded-md cursor-pointer;
}

.btn-yellow-nav {
    @apply p-2 ml-2 bg-bui-100 text-black font-semibold leading-none border-blue-100 hover:border-transparent hover:bg-white rounded-md cursor-pointer;
}

.btn-red-large {
    @apply py-3 text-lg tracking-wide text-center focus:outline-none focus:ring-2 bg-rua-100 text-black font-semibold leading-none border border-blue-100 rounded hover:border-transparent hover:bg-white hover:text-rua-100 cursor-pointer;
}

.btn-form {
    @apply bg-bui-100 text-black font-heading border border-black hover:border-transparent hover:bg-white focus:ring-rua-100 w-full py-2 text-lg font-bold leading-none tracking-wide text-center rounded-md cursor-pointer;
}

.btn-small {
    @apply px-2 py-1 text-sm rounded-md focus:ring-2 cursor-pointer;
}

.btn-goback {
    @apply w-full p-2 mb-2 bg-glas-100 text-white font-semibold leading-none border border-blue-100 rounded hover:border-transparent hover:bg-white hover:text-glas-100 focus:outline-none cursor-pointer;
}

.btn-alt-goback {
    @apply w-full p-2 bg-bui-100 text-black font-semibold leading-none border border-blue-100 rounded hover:border-transparent hover:bg-white focus:outline-none cursor-pointer;
}

.btn-paginate {
    @apply w-8 h-8 text-xl font-bold bg-white border-2 rounded-full border-gorm-100 text-gorm-100 hover:border-glas-100 hover:text-black focus:text-white focus:border-white focus:bg-glas-100;
}


/* FORMS */

.form-container {
    @apply flex flex-col p-4 border border-black bg-gradient-to-t from-white to-glas-100 rounded-lg shadow-lg mx-auto w-80;
}

.form-input {
    @apply w-full px-4 py-3 mb-3 font-heading bg-gradient-to-t from-white to-gruama-100 border border-gray-400 rounded-md focus:outline-none focus:ring-1;
}


/* TYPOGRAPHY */

.title {
    @apply py-4 text-6xl tracking-wide text-center font-title lg:text-7xl lg:py-6;
}

/* FLASH COLORS & ICON NAMES */
.comment {
    @apply bg-blue-500;
}
.bird {
    @apply bg-green-500;
}

.like {
    @apply bg-gorm-100;
}
.check-circle {
    @apply bg-green-500;
}
.exclamation {
    @apply bg-rua-100;
}

/* FLASH ANIMATIONS */

.animate-flash {
    animation: animate-flash 3s ease-out forwards;
}

/* ANIMATIONS */
.bg-fade {
    animation-name: bg-fade;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: both;
}
.bg-no-fade {
    background-color: rgba(255,255,255,0.85);
}

.fade-in {
    animation-name: fade-in;
    animation-duration: 1s;
    animation-delay: .5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: both;
}

.fade-in-slow {
    animation-name: fade-in;
    animation-duration: 1s;
    animation-delay: 2s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: both;
}

@keyframes animate-flash {
    0% {
        opacity: 1;
    }
    80% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes bg-fade {
    0% {
        background-color: rgba(255,255,255,0.1);
    }
    50% {
        background-color: rgba(255,255,255,.2);
    }
    100% {
        background-color: rgba(255,255,255,0.85);
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}