<!-- Bird Card Component customised from https://github.com/cjcon90/hot-dogz -->
<!-- Bird Card Component - displayed on main gallery and on user profiles -->
<!-- Start as invisible if animated == 'on' (only used for main gallery page) -->
<div class="w-96 max-w-sm mx-auto transition-opacity duration-1000 bg-gradient-to-t from-white to-glas-100 rounded-lg shadow-lg border border-black py-2 pl-1 dash-border {{'opacity-0' if animate == 'on'}}">
    <div class="flex">
        <div class="grid flex-1 place-items-center">
            <a href="{{url_for('birds.bird_page', bird_id=bird.pk)}}" aria-label="{{bird.nickname}}'s profile page"><img src="{{bird.img_url_card}}" alt="A photo of a bird nicknamed {{bird.nickname}}" class="object-cover w-full h-32 p-1 rounded-lg" loading="lazy"></a>
        </div>
        <div class="flex flex-col flex-1 px-1 text-black font-body justify-evenly">
            <p>Birdtype: <span>{{bird.birdtype.birdtype_name}}</span></p>
            <p>Nickname: <span>{{bird.nickname}}</span></p>
             <!-- Display uploader name unless it's the current user, if so display edit and delete buttons -->
             {% if bird.uploader == current_user or current_user.username == 'admin' %}
                <div class="flex gap-2">
                    <a href="{{url_for('birds.edit_bird', bird_id=bird.pk)}}" class="underline">Edit</a>
                    <a href="{{url_for('birds.delete_bird', bird_id=bird.pk)}}" class="underline ">Delete</a>
                </div>
            {% else %}
                <p>Photographer: <a href="{{url_for('users.profile', username=bird.uploader.username)}}" class="text-sm uppercase text-gorm-100 hover:underline focus:text-glas-100">{{bird.uploader.username}}</a></p>
            {% endif %}
        </div>
    </div>
</div>