{% extends 'base.html' %}
{% block content %}
    <h1 class="mb-10 text-5xl">Gallery</h1>
    <div class="bg-fixed bg-bottom bg-no-repeat bg-contain bg-dog5">
        <h1 class="title text-glas-100 ">Gallery</h1>
        <div class="grid grid-cols-3 place-items-center">
            <p>POPULAR</p>
            <p>NEW</p>
        </div>
        <div class="flex flex-col h-screen gap-4 px-4 py-10 bg-ban-100 bg-opacity-70">
                {% for bird in birds %}
                    {% include 'bird/_bird_card.html' %}
                {% endfor %}
        </div>
    </div>
    {% endblock %}