{% extends 'base.html' %}
{% block content %}

<!-- CUSTOMIZED REGISTER FORM PAGE FROM 
        https://github.com/cjcon90/hot-dogz/blob/main/hot_dogz/templates/user/register.html -->

<h1 class="title text-gorm-100">Register</h1>
<div class="container flex flex-col items-center mx-auto">
    <form action="{{ url_for('register') }}" method="POST" class="form-container"
        novalidate>
        <input id="csrf_token" name="csrf_token" type="hidden"
            value="IjQ4NTA1OWQ0YzI4YmFmZjlkMjc3YmRhMjJmN2UxZmJlYmQ4YjRiMzEi.YONyQQ.tTIFZNqXnUB5bbGKsmfkeliPe4Q">
            <!-- Username -->
        <fieldset class="pb-2 ">
            <label for="username">Username</label>
            <input class="form-input"
                id="username" name="username" required type="text" value="">

        </fieldset>
        <!-- Email -->
        <fieldset class="pb-2 ">
            <label for="email">Email</label>
            <input class="form-input"
                id="email" name="email" required type="text" value="">

        </fieldset>
        <!-- Password -->
        <fieldset class="pb-2 ">
            <label for="password">Password</label>
            <input class="form-input"
                id="password" name="password" required type="password" value="">

        </fieldset>
        <!-- Confirm Password -->
        <fieldset class="pb-2 ">
            <label for="password2">Repeat Password</label>
            <input class="form-input"
                id="password2" name="password2" required type="password" value="">

        </fieldset>
        <!-- Submit Button -->
        <fieldset class="pb-2 ">
            <input class="btn-form" id="submit" name="submit" type="submit" value="Submit">
        </fieldset>
    </form>
    <!-- Alternative User Options -->
    <div class="flex flex-col items-center gap-4 mt-7 mb-4 text-xl font-bold text-center">
        <p class="text-liath-100 ">Already a member?</p>
        <a href="/login" class="w-40 btn-red-large">Log In</a>
        <div>
            <p class="text-liath-100 ">Need something else?</p>
            <a href="/contact" class="text-rua-100 hover:underline">Contact us</a>
        </div>
    </div>
</div>

{% endblock %}