{% extends 'base.html' %}
<!--  Confirm Page for deleting a user's account -->
{% block content %}
    <div class="bg-bottom bg-no-repeat bg-contain min-h-screen-less-nav lg:bg-50% lg:bg-right-bottom">
        <div class="flex flex-col gap-3 py-4 text-center">
            <h2 class="text-3xl text-gorm-100 font-title">Are you <strong>sure</strong> you want to delete your account?</h2>
            <h3 class="text-2xl font-semibold text-liath-100">This can't be undone!</h3>
        </div>
        <form action="{{url_for('users.delete_account', user_id=user.id)}}" method="POST" class="form-container" novalidate>
                {{ form.hidden_tag()}}
                <fieldset class="pb-2">
                    {{form.password.label}}
                    {{form.password(class_='form-input')}}
                    {% for error in form.password.errors %}
                        <span class="text-red-500"> {{error}} </span>
                    {% endfor %}
                </fieldset>
                <fieldset class="pb-2">
                    {{form.submit(class_='btn-form')}}
                </fieldset>
        </form>
        <div class="flex flex-col items-center gap-4 mt-7 mb-4 text-xl font-bold text-center">
            <div>
                <input type="button" class="btn-goback" value="Go Back" onclick="history.back(-1)" />
            </div>
        </div>
    </div>
{% endblock content %}