{% extends 'base.html' %}

{% block content %}
<!-- USER PROFILE -->
<div class="container mx-auto">
    <!-- USER DETAILS-->
    <div class="flex flex-col items-center gap-4 justify-evenly">
        <div>
            <img src="{{user.img_url}}" alt="user avatar"
                class="w-40 p-2 border-2 border-gray-300 rounded-full shadow-xl">
            <div class="w-full -mt-4">
                {% if user.username == current_user.username %}
                <a href="{{url_for('users.select_avatar')}}" aria-label="avatar select">
                    <i
                        class="px-2 py-1 -mt-10 text-xl bg-white border-2 rounded-full border-gorm-100 fas fa-camera text-primary-500"></i>
                </a>
                {% endif %}
            </div>
        </div>
        <div
            class="flex flex-col py-6 gap-4 {{'justify-between' if user.username == current_user.username else 'justify-center'}}">
            <h1 class="text-4xl text-center uppercase sm:text-6xl font-title text-glas-100 ">{{user.username}}</h1>
            {% if user.username == current_user.username or current_user.username == 'admin' %}
            <div class="flex justify-between gap-10">
                <a href="{{url_for('users.edit_profile', user_id=user.id)}}"
                    class="text-lg font-semibold text-liath-100 hover:underline focus:italic">Edit Account</a>
                <a href="{{url_for('users.delete_account', user_id=user.id)}}"
                    class="text-lg font-semibold text-liath-100 hover:underline focus:italic">Delete Account</a>
            </div>
            {% endif %}
        </div>
    </div>
    <!-- UPLOAD NEW PHOTO OF BIRD -->
    <div class="flex flex-col items-center">
        <div class="flex flex-col gap-6 p-6 lg:grid lg:grid-flow-col">
        {% if user.username == current_user.username %}
            <a href=" {{url_for('birds.upload_bird')}} " class="w-40 py-1 mx-auto text-base btn-yellow">Upload photo of a bird</a>
        {% endif %}
        </div>
    </div>
    <!-- USER UPLOADS -->
    <div class="flex flex-col items-center">
        <h1 class="py-2 text-4xl text-center sm:text-5xl font-title text-gorm-100"> My Photos </h1>
        <div class="overflow-y-auto scroll-box max-h-96">
            <div class="flex flex-col gap-6 p-6 lg:grid lg:grid-flow-col">
                {% if user_birds|length %}
                {% for bird in user_birds %}
                {% include 'bird/_bird_card.html' %}
                {% endfor %}
                {% else %}
                <p class="text-xl font-bold text-center text-liath-100">No photos uploaded yet!</p>
                {% endif %}
            </div>
        </div>
    </div>
    <!-- USER FAVOURITES -->
    <div>
        <h2 class="py-6 text-4xl text-center sm:text-5xl font-title text-gorm-100"> Faved by Me </h2>
        {% if favourites|length %}
        <div class="overflow-y-auto scroll-box lg:mb-6 max-h-96">
            <div
                class="flex flex-wrap items-center justify-center max-w-screen-xl py-6 mx-auto justify-items-center gap-y-6 gap-x-2">
                {% for bird in favourites %}
                {% include 'bird/_bird_card.html' %}
                {% endfor %}
            </div>
        </div>
        {% else %}
        <p class="py-6 text-xl font-bold text-center text-gray-500">No photos favourited yet!</p>
        {% endif %}
    </div>
    <div class="flex flex-col items-center gap-4 mt-7 mb-4 text-xl font-bold text-center">
        <div>
            <input type="button" class="btn-goback" value="Go Back" onclick="history.back(-1)" />
        </div>
    </div>
</div>

{% endblock content %}