{% extends 'base.html' %}
{% block content %}

<!-- CUSTOMIZED REGISTER FORM PAGE FROM 
        https://github.com/cjcon90/hot-dogz/blob/main/hot_dogz/templates/user/register.html -->

<h1 class="title text-gorm-100">Register</h1>
<div class="container flex flex-col items-center mx-auto">
    <form action="{{ url_for('users.register') }}" method="POST" class="form-container"
        novalidate>
        {{ form.hidden_tag()}}
            <!-- Username -->
        <fieldset class="pb-2 ">
            {{ form.username.label }}
            {{ form.username(class_='form-input' )}}
            {% for error in form.username.errors %}
                <span class="text-rua-100">{{error}}</span>
            {% endfor %}
        </fieldset>
        <!-- Email -->
        <fieldset class="pb-2 ">
            {{ form.email.label }}
            {{ form.email(class_='form-input') }}
            {% for error in form.email.errors %}
                <span class="text-rua-100"> {{error}} </span>
            {% endfor %}
        </fieldset>
        <!-- Password -->
        <fieldset class="pb-2 ">
            {{ form.password.label }}
            {{ form.password(class_='form-input') }}
            {% for error in form.password.errors %}
                <span class="text-rua-100"> {{error}} </span>
            {% endfor %}
        </fieldset>
        <!-- Confirm Password -->
        <fieldset class="pb-2 ">
            {{ form.password2.label }}
            {{ form.password2(class_='form-input') }}
            {% for error in form.password2.errors %}
                <span class="text-rua-100"> {{error}} </span>
            {% endfor %}
        </fieldset>
        <!-- Submit Button -->
        <fieldset class="pb-2 ">
            {{form.submit(class_='btn-form')}}
        </fieldset>
    </form>
    <!-- Alternative User Options -->
    <div class="flex flex-col items-center gap-4 mt-7 mb-4 text-xl font-bold text-center">
        <p class="text-liath-100 ">Already a member?</p>
        <a href="/login" class="w-40 btn-red-large">Log In</a>
        <div>
            <p class="text-liath-100 ">Need something else?</p>
            <a href="/contact" class="text-rua-100 hover:underline">Contact us</a>
        </div>
        <div>
            <input type="button" class="btn-goback" value="Go Back" onclick="history.back(-1)" />
        </div>
    </div>
</div>


{% endblock %}