{% extends 'base.html' %}
{% block content %}
    <!-- NEW PASSWORD ENTRY FORM -->
    <div class="container flex flex-col items-center mx-auto">
        <h1 class="py-4 text-4xl text-center font-title text-secondary-500 lg:text-5xl ">Reset Password</h1>
        <form action="{{ url_for('users.reset_password', token=token) }}" method="POST" class="form-container" novalidate>
                {{ form.hidden_tag()}}
                <fieldset class="pb-2">
                    {{form.password.label}}
                    {{form.password(class_='form-input')}}
                    {% for error in form.password.errors %}
                        <span class="text-red-500"> {{error}} </span>
                    {% endfor %}
                </fieldset>
                <fieldset class="pb-2">
                    {{form.password2.label}}
                    {{form.password2(class_='form-input')}}
                    {% for error in form.password2.errors %}
                        <span class="text-red-500"> {{error}} </span>
                    {% endfor %}
                </fieldset>
                <fieldset class="pb-2">
                    {{form.submit(class_='btn-form')}}
                </fieldset>
        </form>
    </div>


{% endblock %}